{% extends "blogapp/layout.html" %}
{% load static %}

{% block main %}
<main class="container">
<div class="row blog-font mt-3">
    <div class="col-md-8">
      {% for obj in object_list %}
      <article class="blog-post">
        <div class="row">
          <a href="{{ obj.get_absolute_url }}">
          <div class="col d-flex flex-column position-static">
            <a class="plain-a" href="{{ obj.get_absolute_url }}"><h4>{{ obj.title }}</h4></a>
            {% include "blogapp/blogpost_header.html" with blogpost=obj %}
            <p>{{ obj.overview }}</p>
          </div> 
          <div class="col-auto d-none d-lg-block">
            <a class="plain-a" href="{{ obj.get_absolute_url }}"><img src="{{ obj.image.url }}" class="img-thumbnail" width="200" height="200"></a>
          </div>
        </div>  
      </article>    
      {% endfor %}

      {% block pagination %}
      {% if is_paginated %}
      <nav aria-label="Pagination">  
        <ul class="pagination pagination-template d-flex justify-content-center">
          {% if page_obj.has_previous %}                
          <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">{{ page_obj.previous_page_number }}</a></li>
          {% endif %}
          <li class="page-item active"><a href="?page={{ page_obj.number }}" class="page-link">{{ page_obj.number }}</a></li>
          {% if page_obj.has_next %}
          <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">{{ page_obj.next_page_number }}</a></li>
          {% endif %}
        </ul>
      </nav>     
      {% endif %}
      {% endblock %}
    </div>

    <div class="col-md-4 bg-light rounded">      
      <div class="p-4 mb-3">
        <h5>Tags</h5>
        {% for tag in tags_count %}
        <div class="item d-flex justify-content-between">
          <a href="">{{ tag.tags__code }}</a><span>{{ tag.tags__code__count }}</span>
        </div>
        {% endfor %}
      </div>
    </div>
</div><!-- /.row -->
</main>
{% endblock %}