{% extends "blogapp/layout.html" %}
{% load static %}

{% block main %}
<main class="container">
<div class="row blog-font mt-3">
    <div class="col-md-8">
      <article class="blog-post">
        <div class="row">
          <div class="col d-flex flex-column position-static">
            <h3>{{ blogpost.title }}</h3>
            {% include "blogapp/blogpost_header.html" with blogpost=blogpost %}
          </div> 
          <div class="col-auto d-none d-lg-block">
            <img src="{{ blogpost.image.url }}" class="img-thumbnail" width="200" height="200">
          </div>
        </div>  
        <p class="mt-2">{{ blogpost.content }}</p>
      </article>    
    </div>
    <div class="col-md-4 bg-light">
      <div class="p-4 mb-3 bg-light rounded">          
      </div>
    </div>
</div><!-- /.row -->
</main>
{% endblock %}